body{
    margin: 0%;
    padding: 0%;
}

img{
    width: 400px;
    height: 450px;
}

.flex-row > .flex-colunm{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-left: 5px;
}

.two{
    margin-top: 250px;
}

h1{
    position:  absolute;
    top: -25px;
    font-size: 125px;
    font-weight: 100;
    letter-spacing: 10px;
    left: 29%;
    text-align: center;
    
}

.flex-colunm{ 
   text-align: center;
}